<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.skanderjabouzi.salat"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="4" />

    <permission android:name="com.skanderjabouzi.salat.SEND_SALATTIME_NOTIFICATIONS"
                android:label="@string/send_salat_notifications_permission_label"
                android:description="@string/send_salat_notifications_permission_description"
                android:permissionGroup="android.permission-group.PERSONAL_INFO"
                android:protectionLevel="normal" />

    <permission android:name="com.skanderjabouzi.salat.RECEIVE_SALATTIME_NOTIFICATIONS"
                android:label="@string/receive_salat_notifications_permission_label"
                android:description="@string/receive_salat_notifications_permission_description"
                android:permissionGroup="android.permission-group.PERSONAL_INFO"
                android:protectionLevel="normal" />

    <permission android:name="com.skanderjabouzi.salat.SEND_LOCATION_NOTIFICATIONS"
                android:label="@string/send_location_notifications_permission_label"
                android:description="@string/send_location_notifications_permission_description"
                android:permissionGroup="android.permission-group.PERSONAL_INFO"
                android:protectionLevel="normal" />

    <permission android:name="com.skanderjabouzi.salat.RECEIVE_LOCATION_NOTIFICATIONS"
                android:label="@string/receive_location_notifications_permission_label"
                android:description="@string/receive_location_notifications_permission_description"
                android:permissionGroup="android.permission-group.PERSONAL_INFO"
                android:protectionLevel="normal" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SET_TIME" />
    <uses-permission android:name="android.permission.SET_TIME_ZONE" />

    <uses-permission android:name="com.skanderjabouzi.salat.SEND_SALATTIME_NOTIFICATIONS" />
    <uses-permission android:name="com.skanderjabouzi.salat.RECEIVE_SALATTIME_NOTIFICATIONS" />
    <uses-permission android:name="com.skanderjabouzi.salat.SEND_LOCATION_NOTIFICATIONS" />
    <uses-permission android:name="com.skanderjabouzi.salat.RECEIVE_LOCATION_NOTIFICATIONS" />


    <application android:icon="@drawable/makka_icon" android:label="@string/app_name">

        <activity android:name=".SalatActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="nosensor"
                  android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    <activity android:name=".LocationActivity" android:label="@string/titleLocation" />
    <activity android:name=".OptionsActivity" android:label="@string/titleOptions" />
    <activity android:name=".SalatQibla" android:label="@string/titleSalatQibla" />
    <activity android:name=".NextActivity" android:label="@string/titleNext" />
    <activity android:name=".HijriActivity" android:label="@string/titleHijri" />

    <service android:name=".AthanService" />
    <service android:name=".MidnightService" />
    <service android:name=".LocationService" />

    <receiver android:name=".SalatBootReceiver">
      <intent-filter>
			<action android:name="android.intent.action.BOOT_COMPLETED" />
      </intent-filter>
    </receiver>

    <receiver android:name="SalatPhoneReceiver">
        <intent-filter>
			<action android:name="android.intent.action.PHONE_STATE" />
        </intent-filter>
    </receiver>

    <receiver android:name=".SalatReceiver"></receiver>

    <receiver android:name=".SalatTimeReciever">
        <intent-filter>
			<action android:name="android.intent.action.TIMEZONE_CHANGED" />
			<action android:name="android.intent.action.TIME_SET" />
        </intent-filter>
    </receiver>

    </application>
</manifest>
