<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.skanderjabouzi.salat"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="4" />

    <application android:icon="@drawable/makka" android:label="@string/app_name" android:name=".SalatApplication"
                 android:screenOrientation="nosensor"
                  android:launchMode="singleTop">
                  
        <activity android:name=".SalatActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
    <activity android:name=".CalculationActivity" android:label="@string/titleCalculation" />   
    
    <service android:name=".SalatService" />     
    
    <receiver android:name=".SalatBootReceiver">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
      </intent-filter>
    </receiver>

    <!--<receiver android:name=".SalatReceiver" />--> 
    
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	
	<uses-permission android:name="com.skanderjabouzi.salat.SEND_SALATTIME_NOTIFICATIONS" />
    <uses-permission android:name="com.skanderjabouzi.salat.RECEIVE_SALATTIME_NOTIFICATIONS" />
    
    <permission android:name="com.skanderjabouzi.salat.SEND_SALATTIME_NOTIFICATIONS"
    android:label="@string/send_salat_notifications_permission_label"
    android:description="@string/send_salat_notifications_permission_description"
    android:permissionGroup="android.permission-group.PERSONAL_INFO"
    android:protectionLevel="normal" />

  <permission android:name="com.skanderjabouzi.salat.RECEIVE_SALATTIME_NOTIFICATIONS"
    android:label="@string/receive_salat_notifications_permission_label"
    android:description="@string/receive_salat_notifications_permission_description"
    android:permissionGroup="android.permission-group.PERSONAL_INFO"
    android:protectionLevel="normal" />   
	
    </application>
</manifest>
